---
import { ContactSection } from '../components/contact-section/contact-section'
import { Footer } from '../components/footer/footer'
import '../styles/globals.css'
import '../styles/icons.css'

const { title, screenshotUrl, demo } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/assets/favicon-32x32.png' />
    <meta name='generator' content={Astro.generator} />

    <!-- HTML Meta Tags -->
    <meta name='description' content='This is a solution to the myteam website challenge on Frontend Mentor' />

    <!-- Facebook Meta Tags -->
    <meta property='og:url' content={demo} />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='My Team' />
    <meta property='og:description' content='This is a solution to the myteam website challenge on Frontend Mentor' />
    <meta property='og:image' content={screenshotUrl} />

    <!-- Twitter Meta Tags -->
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='twitter:domain' content='myteams-v1.netlify.app' />
    <meta property='twitter:url' content={demo} />
    <meta name='twitter:title' content='My Team' />
    <meta name='twitter:description' content='This is a solution to the myteam website challenge on Frontend Mentor' />
    <meta name='twitter:image' content={screenshotUrl} />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

    <link rel='preconnect' href='https://fonts.googleapis.com' /><link rel='preconnect' href='https://fonts.gstatic.com' crossorigin /><link
      href='https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap'
      rel='stylesheet'
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <ContactSection />
    <Footer />
  </body>
</html>
